@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Nixie+One|Tangerine');

body{
  font-family: 'Gloria Hallelujah', cursive;
  font-family: 'Tangerine', cursive;
  font-family: 'Nixie One', cursive;
}
